* {
  box-sizing: border-box
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans Symbols', sans-serif;
  height: 5000px;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
}

li {
  float: left;
  border-right: 1px solid black;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {

  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example {
  padding-top: 60px;
  width: 700px

}

.searchbar {
  background-image: url('dog.jpg');
  color: azure;
  height: 500px;
  background-size: cover;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  
}

