* {
  box-sizing: border-box
}

body {
  font-family: arial, helvetica, sans-serif;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  display: flex;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid black;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Style the search field */
form.example input[type=text] {
  padding: 20px 10px;
  font-size: 17px;
  border: none;
  float: left;
  width: 40%;

  border-radius: 10px;
}

form.example input[type=text]:hover {
  border: rgb(111, 0, 255) solid 1px 2px 1px;
}

form.example button {

  float: left;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;

}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example {
  padding-top: 60px;
  width: 700px
}

.searchbar {
  background-image: url('dog.jpg');
  color: azure;
  height: 530px;
  width: 100%;
  background-size: cover;
  text-align: center;
  border-bottom: rgb(111, 0, 255) solid 15px;
}

.form {
  display: flex;
  justify-content: center;
  background-color: white;
}

.cards {
  margin-top: -100px;
  display: flex;
  width: 80%;
  justify-content: center;
  padding-left: 350px;
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 2px 2px 2px rgb(88, 86, 86);
}

.card:hover {
  border: rgb(111, 0, 255) solid transparent 3px;
  background-color: whitesmoke;
}

.card-icon {
  width: 150px;
  height: 150px;
}

.title1 {
  color: rgb(111, 0, 255);
  padding-left: 450px;
}

.cards-2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card2 {
  margin: 10px;
  width: 200px;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 2px 2px 2px rgb(88, 86, 86);
}

.card2 img {
  height: 250px;
  max-width: 200px;
  width: 200px;
}


.card2:hover {
  border: rgb(111, 0, 255) solid transparent 3px;
  background-color: whitesmoke;
}